<footer class="footer is-textured">
  <div class="container">
    <div class="columns">
      <div class="column is-half content is-v-centered is-text-centered-mobile">
        <p>Made with ♥ by <a href="http://delight.consulting">Delight</a>.</p>
        <p>
          <a class="icon" href="https://github.com/{{site.github_username}}">
            <i class="fa fa-github"></i>
          </a>
          <a class="icon" href="https://twitter.com/{{site.twitter_username}}">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="icon" href="/contact">
            <i class="fa fa-envelope"></i>
          </a>
        </p>
        <p>© 2016 Delight Consulting, LLC.</p>
      </div>
      <div class="column is-half is-vcentered is-text-right is-text-centered-mobile">
        <img src="{{ "/images/delight-logo-gold.svg" | prepend: site.github.url }}" height="90" width="111">
      </div>
    </div>
  </div>
</footer>