<header class="header">
  <div class="container">

    <!-- Left side -->
    <div class="header-left">
      <a class="header-item" href="{{ site.github.url }}/">
        <img src="{{ "/images/delight-logo-black.svg" | prepend: site.github.url }}" alt="Delight Logo" width="65" height="50" class="logo">
      </a>
    </div>

    <!-- Right side -->
    <div id="js-header-menu" class="header-right header-menu">
      <span class="header-item">
        <a href="{{ "/about" | prepend: site.github.url }}">About</a>
      </span>
      <span class="header-item">
        <a href="{{ "/our-work" | prepend: site.github.url }}">Our Work</a>
      </span>
      <span class="header-item">
        <a href="{{ "/contact" | prepend: site.github.url }}">Contact</a>
      </span>
      <span class="header-item">
        <a href="{{ "/contact" | prepend: site.github.url }}" class="button is-success">
          Start Your Project
        </a>
      </span>
    </div>

    <!-- Hamburger menu (on mobile) -->
    <span id="js-header-toggle" class="header-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

  </div>
</header>